<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Book's exam{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-left">
            <a class="navbar-brand" href="{{ url_for('index') }}">Book's exam</a>
            <ul class="navbar-nav">
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            {% if current_user.is_authenticated %}
                <p class="username">Hello, {{ current_user.username }}</p>
                <a class="login-button" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a class="login-button" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>

<div class="content">
    {% block content %}
    {% endblock %}
</div>

<footer class="footer">
    <p>&copy; Group 221-2310: Victor</p>
</footer>

</body>
</html>
