{% extends "base.html" %}
{% block title %}Book's exam list{% endblock %}

{% block content %}
    <h1>Books List</h1>
    {% if current_user.is_authenticated and current_user.role.name == 'Администратор' %}
        <div class="add-book-button">
            <a href="{{ url_for('add_book') }}">Add Book</a>
        </div>
    {% endif %}
    <div class="books">
        {% for book in books.items %}
            <div class="book">
                <h2>{{ book.title }}</h2>
                <p class="author">Author: {{ book.author }}</p>
                <p class="year">Year: {{ book.year }}</p>
                <p class="genres">Genres: {% for genre in book.genres %}{{ genre.name }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
                {% if book.id in book_avg_ratings %}
                    <p class="avg-rating">Average Rating: {{ book_avg_ratings[book.id] }}</p>
                {% else %}
                    <p class="avg-rating">Average Rating: No rating</p>
                {% endif %}
                <p class="reviews">Reviews: {{ reviews_count[book.id] }}</p>  
                {% if current_user.is_authenticated %}
                    {% if current_user.role.name == 'Администратор' %}
                        <div class="button-wrapper">
                            <a class="button view" href="{{ url_for('view_book', book_id=book.id) }}">View</a>
                        </div>
                        <div class="button-wrapper">
                            <a class="button edit" href="{{ url_for('edit_book', book_id=book.id) }}">Edit</a>
                        </div>
                        <div class="button-wrapper">
                            <a class="button delete" href="#" data-book-id="{{ book.id }}" data-book-title="{{ book.title }}">Delete</a>
                        </div>                    
                    {% elif current_user.role.name == 'Модератор' %}
                        <div class="button-wrapper">
                            <a class="button view" href="{{ url_for('view_book', book_id=book.id) }}">View</a>
                        </div>
                        <div class="button-wrapper">
                            <a class="button edit" href="{{ url_for('edit_book', book_id=book.id) }}">Edit</a>
                        </div>
                    {% else %}
                        <div class="button-wrapper">
                            <a class="button view" href="{{ url_for('view_book', book_id=book.id) }}">View</a>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="button-wrapper">
                        <a class="button view" href="{{ url_for('view_book', book_id=book.id) }}">View</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>    

    <div class="pagination">
        {% if books.has_prev %}
            <li class="page-item"><a class="page-link" href="{{ url_for('index', page=books.prev_num) }}">Previous</a></li>
        {% endif %}
        
        {% for num in books.iter_pages() %}
            {% if num %}
                {% if num == books.page %}
                    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('index', page=num) }}">{{ num }}</a></li>
                {% endif %}
            {% else %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
        {% endfor %}
        
        {% if books.has_next %}
            <li class="page-item"><a class="page-link" href="{{ url_for('index', page=books.next_num) }}">Next</a></li>
        {% endif %}
    </div>
    
    

    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Удаление книги</h2>
            <p id="delete-message"></p>
            <button id="delete-yes">Да</button>
            <button id="delete-no">Нет</button>
        </div>
    </div>

    <script>
        document.querySelectorAll('.delete').forEach(item => {
            item.addEventListener('click', event => {
                event.preventDefault();
                const bookId = event.target.dataset.bookId;
                const bookTitle = event.target.dataset.bookTitle;
                const deleteModal = document.getElementById('deleteModal');
                const deleteMessage = document.getElementById('delete-message');
                deleteMessage.innerText = `Вы уверены, что хотите удалить книгу "${bookTitle}"?`;
                deleteModal.style.display = 'block';
    
                const deleteYesBtn = document.getElementById('delete-yes');
                const deleteNoBtn = document.getElementById('delete-no');
    
                deleteYesBtn.onclick = () => {
                    fetch(`/delete_book/${bookId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ _method: 'DELETE' })
                    }).then(response => {
                        if (response.ok) {
                            window.location.reload();
                        } else {
                            deleteModal.style.display = 'none';
                            alert('Ошибка при удалении книги.');
                        }
                    });
                };
    
                deleteNoBtn.onclick = () => {
                    deleteModal.style.display = 'none';
                };
            });
        });
    
        document.querySelector('.close').onclick = () => {
            document.getElementById('deleteModal').style.display = 'none';
        };
    
        window.onclick = event => {
            if (event.target === document.getElementById('deleteModal')) {
                document.getElementById('deleteModal').style.display = 'none';
            }
        };
    </script>    
{% endblock %}
