{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.confirm_password.label }}
        {{ form.confirm_password(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.last_name.label }}
        {{ form.last_name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.first_name.label }}
        {{ form.first_name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.middle_name.label }}
        {{ form.middle_name(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}
