{% extends "base.html" %}
{% block title %}view book{% endblock %}

{% block content %}
    <h1>{{ book.title }}</h1>
    <p><strong>Автор:</strong> {{ book.author }}</p>
    <p><strong>Издатель:</strong> {{ book.publisher }}</p>
    <p><strong>Год издания:</strong> {{ book.year }}</p>
    <p><strong>Страниц:</strong> {{ book.pages }}</p>
    <p><strong>Жанры:</strong> {% for genre in book.genres %}{{ genre.name }} {% endfor %}</p>
    <p><strong>Описание:</strong></p>
    <div>{{ book.description|safe }}</div>
    
    {% if cover %}
        <p><strong>Обложка:</strong></p>
        <img class="book-cover" src="{{ url_for('static', filename='img/' + cover.filename) }}" alt="Обложка книги">
    {% else %}
        <p>Обложка отсутствует</p>
    {% endif %}

    <p>Значение переменной cover: {{ cover.filename }}</p>

    <p><a href="{{ url_for('edit_book', book_id=book.id) }}">Редактировать</a> | <a href="{{ url_for('delete_book', book_id=book.id) }}" onclick="return confirm('Вы уверены, что хотите удалить эту книгу?');">Удалить</a></p>
{% endblock %}
